doctype html
html.loading(lang='en', data-textdirection='ltr')
  // BEGIN: Head
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
    meta(name='description', content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.")
    meta(name='keywords', content='materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard')
    meta(name='author', content='ThemeSelect')
    title Dashboard Modern | Materialize - Material Design Admin Template
    link(rel='apple-touch-icon', href='/app-assets/images/favicon/apple-touch-icon-152x152.png')
    link(rel='shortcut icon', type='image/x-icon', href='/app-assets/images/favicon/favicon-32x32.png')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // BEGIN: VENDOR CSS
    link(rel='stylesheet', type='text/css', href='/app-assets/vendors/vendors.min.css')
    link(rel='stylesheet', type='text/css', href='/app-assets/vendors/animate-css/animate.css')
    link(rel='stylesheet', type='text/css', href='/app-assets/vendors/chartist-js/chartist.min.css')
    link(rel='stylesheet', type='text/css', href='/app-assets/vendors/chartist-js/chartist-plugin-tooltip.css')
    // END: VENDOR CSS
    // BEGIN: Page Level CSS
    link(rel='stylesheet', type='text/css', href='/app-assets/css/themes/vertical-modern-menu-template/materialize.css')
    link(rel='stylesheet', type='text/css', href='/app-assets/css/themes/vertical-modern-menu-template/style.css')
    link(rel='stylesheet', type='text/css', href='/app-assets/css/pages/dashboard-modern.css')
    link(rel='stylesheet', type='text/css', href='/app-assets/css/pages/intro.css')
    // END: Page Level CSS
    // BEGIN: Custom CSS
    link(rel='stylesheet', type='text/css', href='/app-assets/css/custom/custom.css')
    // END: Custom CSS
    style.
      .brand-sidebar .logo-wrapper a.brand-logo img {
          height: 50px;
          width: 150px;
          margin: 0 auto;
          align-items: center;
          /* left: 50%; */
      }
      .brand-sidebar .brand-logo {
          font-size: 2.1rem;
          line-height: 0;
          position: absolute;
          display: inline-block;
          /* margin: 1px 0; */
          margin: 0;
          text-align:left;
          width: 100%;
          padding: 10px 22px 22px 40px;
          color: #333;
      }
    // END: Head
    body.vertical-layout.vertical-menu-collapsible.page-header-dark.vertical-modern-menu.preload-transitions.2-columns(data-open='click', data-menu='vertical-modern-menu', data-col='2-columns')
      // BEGIN: Header
      include _header
      // END: Header
      
      // BEGIN: SideNav
      
      // END: SideNav
      // BEGIN: Page Main
      #main
        .row
          .content-wrapper-before.gradient-45deg-indigo-purple
          #breadcrumbs-wrapper.breadcrumbs-dark.pb-0.pt-4
           .container
             .row
               .col.s10.m6.l6
                 h5.breadcrumbs-title.mt-0.mb-0
                   span Music Page
                 ol.breadcrumbs.mb-0
                   li.breadcrumb-item
                     a(href='/admin/') Home
                   li.breadcrumb-item.active
                     | Your Music
          .col.s12
            .container
              .section
                .row
                each music in getMusic
                 .col.s12.m6.l6(style='margin: 40px 0')
                      .card.horizontal.border-radius-6
                         .card-image
                           a(href='#')
                            img.responsive-img.image-n-margin(src=`/img/${music.image}`, alt='')
                         .card-stacked
                          .card-content.pl-7.pt-7.pr-7.pb-7
                            h6(style='font-weight:600')=music.title
                            p.mb-4=music.lyrics.substring(0,120) + '...'
                          .card-action.pt-4.pb-3
                            .display-flex
                              .display-flex.mr-10
                                a.btn.gradient-45deg-light-blue-cyan.gradient-shadow.editButton(href='#' id=`edit_${music.id}`)
                                 | Edit
                              .display-flex.mr-10
                                a.btn.dropdown-settings.waves-effect.waves-light.breadcrumbs-btn(href='#' data-identifier=`${music.id}`)
                                 | Delete

              // START RIGHT SIDEBAR NAV

              // END RIGHT SIDEBAR NAV
              // Intro

              // / Intro
            .content-overlay
      // END: Page Main
      // BEGIN: Footer
      footer.page-footer.footer.footer-static.footer-dark.gradient-45deg-indigo-purple.gradient-shadow.navbar-border.navbar-shadow
        .footer-copyright
          .container
            span
              | © 2020          
              a(href='http://lgnetworkdesign.com/', target='_blank') LG Network Design
              |  All rights reserved.
            span.right.hide-on-small-only
              | Design and Developed by 
              a(href='http://lgnetworkdesign.com/') LGND
      // END: Footer
      // BEGIN VENDOR JS
      script(src='/app-assets/js/vendors.min.js')
      // BEGIN VENDOR JS
      // BEGIN PAGE VENDOR JS
      script(src='/app-assets/vendors/chartjs/chart.min.js')
      script(src='/app-assets/vendors/chartist-js/chartist.min.js')
      script(src='/app-assets/vendors/chartist-js/chartist-plugin-tooltip.js')
      script(src='/app-assets/vendors/chartist-js/chartist-plugin-fill-donut.min.js')
      // END PAGE VENDOR JS
      // BEGIN THEME  JS
      script(src='/app-assets/js/plugins.js')
      script(src='/app-assets/js/search.js')
      script(src='/app-assets/js/custom/custom-script.js')
      script(src='/app-assets/js/scripts/customizer.js')
      // END THEME  JS
      // BEGIN PAGE LEVEL JS
      script(src='/app-assets/js/scripts/dashboard-modern.js')
      script(src='/app-assets/js/scripts/intro.js')
      // END PAGE LEVEL JS
      script(src='/js/bundle.js')