footer#footer.padding-top-bottom(style='background-color: #262626; color:#fff;')
  .container
    .row
      .widget-area.col-12
        section.widget.widget_text
          h3.widget-title Subscribe now!
          .textwidget
            form.mc4wp-form#subscribeForm
              .mc4wp-form-fields
                p
                  | Subscribe now to get exclusive deals on merch and updates on the latest happening with Mathew Maciel.
                p.one-line
                  input#g-recaptcha-response(type='hidden' name='g-recaptcha-response')
                  label.screen-reader-text(for='subscribe_email') Subscription Email
                  input#subscribe_email(name='email' required='' placeholder='Your email address…' type='email')
                  input.button-color.button-filled(value='Subscribe' type='submit')
        section.widget.widget_nav
          h3.screen-reader-text Social Navigation
          nav#social-links-menu.col-12.col-md-auto.order-4.order-md-1.order-lg-3(style='color:black')
            ul.social-navigation
              each entry in getMetaData.socialMedia
                if entry.showSocialMedia
                  if entry.socialMediaName == 'Facebook'
                    li.menu-item.menu-item-type-custom
                      a(title='Facebook Profile' target='_blank' href=entry.socialMediaLink)
                        span.screen-reader-text Facebook
                  if entry.socialMediaName == 'Instagram'
                    li.menu-item.menu-item-type-custom
                      a(title='Instagram' target='_blank' href=entry.socialMediaLink)
                        span.screen-reader-text Instagram
                  if entry.socialMediaName == 'Twitter'
                    li.menu-item.menu-item-type-custom
                      a(title='Twitter Profile' target='_blank' href=entry.socialMediaLink)
                        span.screen-reader-text Twitter
                  if entry.socialMediaName == 'Youtube'
                    li.menu-item.menu-item-type-custom
                      a(title='YouTube Channel' target='_blank' href=entry.socialMediaLink)
                        span.screen-reader-text YouTube
                  //- if entry.socialMediaName == 'TikTok'
                  //-   li.menu-item.menu-item-type-custom
                  //-     a(title='Tik Tok' target='_blank' href=entry.socialMediaLink)
                  //-       span.screen-reader-text TikTok
      .copyright.col-12
        p &copy; LGND &hearts;. All Rights Reserved.