extends base

block append head
 style#castilo-inline-style.
    .featured-content {
        background-image: url(#{bioBannerImage});
    }

block content
 header#featured.featured-content.fade-background-50.padding-top-bottom
  .container
    .row.align-items-center
      .col-12.col-md
        h1.entry-title Bio
      .col-12.col-md-auto
        p.big.opacity-80 Music is currently on Apple Music, Spotify and all other music platforms.
 main#content.padding-top-bottom
  .container
   .row
    .col-12.col-md-8(style='background-color:#eee; padding: 25px;')
        h1= bio[0].bioTitle
         for entry in bio[0].addToBio
            h6= entry.title
                p(style='font-weight:300')= entry.text
        h6(style='color:#c36364') Music is currently on Apple Music, Spotify and all other music platforms.
        hr
        h6 Radio Play:
         for entry in bio[0].radioPlay
            p(style='font-weight:300') 
                b= entry.title 
                | - #{entry.text}

    .col-12.col-md-4(style='padding: 25px;')
        p
            | Performed At
        ul.circle
            for entry in bio[0].performedAt
                li= entry
        hr
        //- p
        //-     | Band Members:
        //- ul.circle
        //-     li Mathew Maciel - Lead Vocals/Guitar
        //-     li Tono Leal - Guitar
        //-     li Justin Lopez - Bass
        //-     li Amy Whitehouse - Vocals/Keys
        //-     li Jacob Villescas - Drums
//-   footer.sales-box.padding-top-bottom(style='background-image: url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1520&q=100&h=368)')
//-    .container
//-     .row.align-items-center
//-       .col-12.col-md-6
//-         a.cover-image(href='#')
//-         //-   img(src='tmp/sample-sales-cover.jpg' width='590' height='590' alt='')
//-       .col-12.col-md-6
//-         h3 New Stuff Each Week!
//-         p
//-           | Listen below and order your copy from Amazon, iTunes or your favorite record store. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conseqa untur magni dolores eos qui ratione sequi.
//-         p    

   