extends base 

block append head
 style#castilo-inline-style.
    .featured-content {
        background-color: #313131;
        background-image: url('/img/header/1.png');
    }
    @media (min-width: 768px) {
    .featured-content {
        background-image: url('/img/header/1.png');
    }
    }
    .sales-box {
        background-image: url(tmp/sample-sales.jpg);
    }
    .latest-news {
        background-image: url(tmp/latest-news.jpg);
    }
    .popup {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
      display: none;
    }

    .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 2px;
      border-radius: 5px;
      width: 780px;
      max-width: 100%;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
    }
    @media (max-width: 768px) {
        .remove{
            display:none;
        }    
        .padTop{
            padding-top:180px;
        }
        .spot{
            background: #1DB954;
            border: 2px solid #1DB954;
        }
    }

block content
 .popup
  .popup-content
    a(href='https://yougodsmusic.org/music-video/provider-by-mathew-maciel/' target='_blank')
     img#popup-image(src='/img/OMF 1920-1080.png' alt='Popup Image')
    span.close &times;
 header#featured.featured-content.fade-background-0.padding-top-bottom
  .container
    .row.align-items-center
      .col-12.col-lg-8.col-xl-7
        .latest-episode.padTop
          .podcast-episode
            p.big.text-uppercase.opacity-50 Featured Music
            h1.entry-title
              a(href='#') 
            iframe(src='https://open.spotify.com/embed/track/3meajb9mhHi8qIII4EHSDE' width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media')
            //- .podcast-episode
            //-   .podcast-episode-player(data-episode-download='/music/TheThrone.mp3' data-episode-download-button='Download Episode (4,567.6 KB)' data-episode-duration='3:02' data-episode-size='4,567.6 KB')
            //-     audio.wp-audio-shortcode(preload='none' style='width: 100%;' controls='controls')
            //-       source(src='/music/TheThrone.mp3' type='audio/mpeg')
            p
              a.button.button-filled.button-color(href='https://music.apple.com/us/artist/mathew-maciel/1133448720 ', target='_blank')
                span.zmdi.zmdi-apple
                |  Music
              a.button.button-filled.button-color.remove(href='https://music.amazon.com/artists/B01IARNKLU?tab=CATALOG&ref=dm_wcp_artist_link_ad', target='_blank')
                span.zmdi.zmdi-amazon
                |  Music
              a.button.button-filled.button-color(href='https://open.spotify.com/artist/2babft8i5iezl343qG7G4v', target='_blank')
                |  Spotify
 main#content.padding-top-bottom
  .container
    .row
      .col-12
        .episodes-listing
          h3.add-separator
            span
              | Browse 
              em Music
          each entry in music
            if entry.showOnHomePage
              article.entry.entry-episode
                .row.align-items-lg-center
                  .col-12.col-md-4.col-xl-3
                    .entry-media.entry-image.multiply-effect
                      a(href='/img/ThinkOfMe.png')
                        img.first(src=entry.albumImage.url width='736' height='736' alt='')
                        span.second
                          img(src=entry.albumImage.url width='736' height='736' alt='')
                        span.third
                          img(src=entry.albumImage.url width='736' height='736' alt='')
                  .col-12.col-md-8.col-xl-9
                    header.entry-header
                      .entry-meta
                        span.posted-in
                          span.screen-reader-text Posted in: 
                          a(href='#' rel='bookmark')= entry.title
                        span.posted-on
                          span.screen-reader-text Posted on: 
                          a(href='#' rel='bookmark')
                            time.entry-date.published(datetime='2020-03-26T14:48:37+00:00')= new Date(entry.releasedDate).toLocaleDateString('en-US', {month: 'long', day: 'numeric', year: 'numeric'})
                        span.tags
                          span.screen-reader-text Tagged:
                          for tags in entry.musicHashTags
                            a(rel='tag' href='#')= tags 
                            | , 
                      h2.entry-title
                        a(href='#' rel='bookmark')= entry.title
                    .entry-content
                      p= '"' + entry.lyrics
                        | &mldr; " 
                        a(href='/construction') (read more)
                    iframe(src=entry.spotifyUrl.replace('/track', '/embed/track') width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media')
        //-   .pagination.pagination-load-more
        //-     a.button.button-filled(href='#')
        //-       span.zmdi.zmdi-more
        //-       |  Browse More
  .latest-news.margin-top-bottom.invert-colors.fade-background-70.padding-top-bottom
    .container
      h3.add-separator
        span
          | Latest 
          em Video
      .row
        //- display featured videos on home page
        each entry in featuredVideo.featureVideo
          if entry.show
            .col-12.col-md-6
              article.entry.entry-post
                header.entry-header
                  .categories 
                  iframe(src=entry.videoUrl.replace('/watchv', '/embed/')  width="500" height="250" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        a.button.button-filled.button-color(href='https://www.youtube.com/mathewmacielmusic' target='_blank' rel='category tag', style='margin:0 auto;')
            span.zmdi.zmdi-youtube
            | Youtube
  .container
    .row
      .col-12
        .latest-images
          h3.add-separator
            span
              | Latest from 
              em Instagram
          .row#instaRow
          .pagination.pagination-load-more
            a.button(href='https://www.instagram.com/mathew_maciel/?hl=en')
              span.zmdi.zmdi-instagram
              |  Follow
//-  footer.sales-box.padding-top-bottom(style='background-image: url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1520&q=100&h=368)')
//-   .container
//-     .row.align-items-center
//-       .col-12.col-md-6
//-         a.cover-image(href='#')
//-         //-   img(src='tmp/sample-sales-cover.jpg' width='590' height='590' alt='')
//-       .col-12.col-md-6
//-         h3 New Stuff Each Week!
//-         p
//-           | Listen below and order your copy from Amazon, iTunes or your favorite record store. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conseqa untur magni dolores eos qui ratione sequi.
//-         p
//-           a.button.button-small.button-white(href='#') Amazon
//-           a.button.button-small.button-white(href='#') iTunes
//-           a.button.button-small.button-white(href='#') Spotify

block append javascript
    link#mediaelement-css(rel='stylesheet' href='/mediaelement/mediaelementplayer-legacy.css')
    link#wp-mediaelement-css(rel='stylesheet' href='/mediaelement/wp-mediaelement.css')
    link#castilo-additional-mediaelement-css(rel='stylesheet' href='/css/mediaelement-castilo.css')
    script(src='/mediaelement/mediaelement-and-player.js')
    script(src='/mediaelement/mediaelement-migrate.js')
    script(src='/mediaelement/wp-mediaelement.js')
    script(src='/js/mediaelement-castilo.js')
    script(src='/js/bundle.js')
    script(type='text/javascript').
      // Get the modal
      var popup = document.querySelector('.popup');
      // Get the close button
      var closeBtn = document.querySelector('.close');
      // When the user clicks on the close button, hide the modal
      closeBtn.addEventListener('click', function() {
      popup.style.display = 'none';
      });
      // Show the modal
      popup.style.display = 'block';